</head>
    <style>
        .center {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;  
        }
        h1.text-center {
		color: green;
		padding-top: 50px;
		}
    </style>
</head>

<%= simple_form_for @doc do |f| %>
    <% f.input :title %>
    <% f.input :content %>
    <% f.button :submit %>

<form>
    <div class="form-group col-sm-5 my-1 center">
        <h1 class="text-center"> Write something ... </h1>

        <label for="title">Title</label>
        <input type="text" class="form-control" id="document-title"  name="doc[title]">

        <br/>

        <label for="content">Content</label>
        <textarea class="form-control" id="content-textarea" rows="10"  contentEditable="true" name="doc[content]"></textarea>
        
        <br/>
        <%= link_to "Back", docs_path, :class => "btn btn-sm btn-outline-dark m-1" %>
        <button type="submit" class="btn btn-sm btn-dark m-1">Submit</button>

    </div>
</form>
<% end %>


